/*
	root element for the scrollable-ads.
	when scrolling occurs this element stays still.
*/
.scrollable-ads {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 325px;
	height:220px;

	/* custom decorations */
	border:1px solid #ccc;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable-ads .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

/* single scrollable item */
.scrollable-ads img {
	float:left;
	background-color:#fff;
	border:1px solid #ccc;
	width:145px;
	height:200px;
	
}

/*
    a single item. must be floated in horizontal scrolling. 
    typically, this element is the one that *you* will style 
    the most.  
*/
div.scrollable-ads div.items div { 
    float:left; 
	margin:5px 5px 5px 5px;
	padding:2px;
	border:1px solid #ccc;
	width:147px;
	height:202px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
 

